@model Pizzas

<link rel="stylesheet" href="~/css/Create.css" asp-append-version="true" /> 

<div class="main">
    <div class="container d-flex justify-content-center align-items-start min-vh-100 mt-5">
        <form asp-controller="Pizza" asp-acion="Update" asp-route-id="@Model.Id" method="post" class="form-pizza bg-dark text-white p-4 rounded">
            >
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <strong>Nome:</strong>
                <input asp-for="Name" class="d-block w-100" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Descrizione:</strong>
                <input asp-for="Description" class="d-block w-100" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <strong>Prezzo:</strong>
                <input asp-for="Price" class="d-block w-100" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="text-end">
                <input type="submit" class="btn btn-small btn-success" value="Salva" />
            </div>
        </form>
    </div>
</div>
